.login {
  display: block;
  padding-left: 0;
  padding-right: 0;
  background-clip: border-box;
  background-origin: padding-box;
  background: url(../images/login-bck.jpg) no-repeat scroll 0 0;
  background-size: 100% 100%;
  overflow: hidden;

  #navBar {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    font-family: serif;
    color: #fff;
    padding-top: 2px;
  }
}

.login-wrapper {
  #sign_in {
    margin-top: 10px;
  }

  .form-signin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -153px;
    margin-top: -150px;
    max-width: 400px;
    max-height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    .login-header {
      border-bottom: 1px solid #eee;
      background-color: #f7f7f7;
      border-radius: 5px 5px 0px 0px;
      padding: 5px 10px;
      text-align: center;
      font-size: 29px;
      font-family: roboto;
    }

    .login-form-container {
      padding: 20px 30px;
    }
  }
}