<div id="navBar" class="navbar-fixed-top">Dashboard App</div>

<main class="login-wrapper container">
    <div class="row">
        <form name="loginForm" class="form-signin" ng-submit="$ctrl.onSubmit()">
            <div class="login-header">Please Sign In</div>

            <div class="login-form-container">
                <div class="form-group">
                    <label for="username">{{$ctrl.getConstant('usernameLabel')}}</label>
                    <input type="text"
                           id="username"
                           name="username"
                           ng-model="$ctrl.username"
                           class="form-control input-block-level"
                           required
                           ng-change="$ctrl.credentialsErrorStatus = ''">
                <span class="text-danger" id="username-span">
                    {{$ctrl.usernameStatus}}
                </span>
                </div>
                <div ng-messages="loginForm.username.$error"
                     ng-if="loginForm.username.$touched && $ctrl.invalid.user">
                    <p class="required" ng-message="required">
                        <span class="fa fa-exclamation display-error"></span>
                        {{$ctrl.getConstant('requiredMessage')}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="password">{{$ctrl.getConstant('passwordLabel')}}</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control input-block-level"
                           required
                           ng-model="$ctrl.password"
                           ng-change="$ctrl.credentialsErrorStatus = ''"/>
            <span class="text-danger" id="password-span">
                {{$ctrl.authenticatingStatus}}
            </span>
            <span class="text-danger" id="password-span-error">
                {{$ctrl.credentialsErrorStatus}}
            </span>
                </div>

                <div ng-messages="loginForm.password.$error"
                     ng-if="loginForm.password.$touched && $ctrl.invalid.pass">
                    <p class="required" ng-message="required">
                        <span class="fa fa-exclamation display-error"></span>
                        {{$ctrl.getConstant('requiredMessage')}}
                    </p>
                </div>

                <div class="form-group">
                    <input type="hidden"
                           id="redirectUri"
                           name="redirectUri"
                           value="${param.redirectUri}"/>
                    <input type="submit"
                           class="form-control input-block-level btn btn-medium btn-primary"
                           id="sign_in"
                           ng-click="$ctrl.submitClick()"
                           value="Sign In"/>
                </div>
            </div>
        </form>
    </div>
</main>
