/* General */
html {
    height: 100%;
    overflow: hidden;
}

#navBar {
    background-color: #000 !important;
    height: 44px;
    top: 0;
    border-bottom: 1px solid #000;
    width: 100%;
    position: relative;
}
