@black: #000;
@white: #fff;

book-list {
  -webkit-overflow-scrolling: touch;

  .thumbnail {
    background: @white;
    padding: 3px;
    border-radius: 0;
    border: 1px solid #b5b5b5;
    line-height: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    max-width: 186px;
  }

  .item {
    margin-bottom: 30px;
  }
  .thumbnail {
    width: 186px;
    float: left;
    border: 1px solid #888;
    padding: 2px;
  }

  .book-title {
    font-weight: bold;
  }

  #bookshelf-content {
    overflow-y: auto;
    overflow-x: hidden;
  }

  #bookshelf-content {
    .container-fluid {
      margin-top: 30px;
      margin-left: 15px;
    }
  }

  .img-polaroid {
    height: 240px !important;
    width: 180px;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  .book-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;

    &:active {
      background: @black;
      opacity: 1;
    }

    &:active img {
      opacity: 0.7
    }

    &:hover {
      color: @white;
      opacity: 0.7;
    }

    a {
      color: #4d4d4d;
      word-break: break-all;
      text-decoration: none;
      outline: none;
      display: inline-block;
    }

    a:hover {
      text-decoration: none;
    }

    &.inactive {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      pointer-events: none;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
      background: none;
      color: #000;
    }
  }
}
