<div id="bookshelf-content" class="bookshelf-content-default">
    <div id="bookshelf-layouts" class="container-fluid" ng-if="$ctrl.books.length">
        <div id="grid-view" class="row thumbnails">
            <div class="flex-row">
                <div class="item col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2"
                     ng-repeat="book in $ctrl.books">
                    <div class="thumbnail">
                        <div class="book-item">
                            <a class="bookIcon">
                                <img class="img-polaroid img-book"
                                     ng-src="{{book.thumbnailImageUrl}}"
                                     alt="Book Cover of {{book.title}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
