<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Poc</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bookshelf.min.css"/>
</head>

<body class="{{bodyClass}}">
  <app></app>

  <script src="js/dashboardApp.js"></script>
</body>
</html>
