@import './bookList/bookList.less';

#navBar a {
  float: right;
  padding: 5px;
  background: #f7f6f6;
  margin: 7px;
}

.bookshelf {
   position: relative;
   padding-right: 0 !important;
   margin-right: 0 !important;
 }